*{
    justify-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.card {
  text-align: center;
  background-color: #afa300;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;
  width: 300px;     
  word-wrap: break-word; 
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.cardjs {
  text-align: center;
  background-color: #6000af;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;  
  width: 300px;  
  word-wrap: break-word;
  transition: transform 0.5s;
}

.cardjs:hover {
  transform: scale(1.1);
}

.cardsp {
  text-align: center;
  background-color: red;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;  
  width: 300px;  
  word-wrap: break-word;
  transition: transform 0.5s;
}

.cardsp:hover {
  transform: scale(1.1);
}

.cardsm {
  text-align: center;
  background-color: blue;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;  
  width: 300px;  
  word-wrap: break-word;
  transition: transform 0.5s;
}

.cardsm:hover {
  transform: scale(1.1);
}

.cardbt {
  text-align: center;
  background-color: #000000;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;  
  width: 300px;  
  word-wrap: break-word;
  transition: transform 0.5s;
}

.cardbt:hover {
  transform: scale(1.1);
}