*{
    justify-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.card {
  text-align: center;
  background-color: #00b7ff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;
  width: 300px;     
  word-wrap: break-word; 
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

.cardjs {
  text-align: center;
  background-color: #15d4bb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  max-width: 100%;  
  width: 300px;  
  word-wrap: break-word;
  transition: transform 0.5s;
}

.cardjs:hover {
  transform: scale(1.1);
}