/* O container ocupa a tela toda */
#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc; /* fundo inicial cinza claro */
  transition: background-color 0.5s ease;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
}

#btnEscuro {
  background-color: #333;
  color: white;
}

#btnClaro {
  background-color: #f0f0f0;
  color: black;
}
